<div class="col">
	<div class="card">
		<img src="{{ item.media }}" class="card-img-top" alt="Image de {{ item.title|raw }}">
		<div class="card-body">
			<h6 class="card-title">
				<a href="{{ item.url }}" target="_blank">{{ item.title|raw }}</a>
			</h6>
			<p class="card-text">{{ item.description|raw }}</p>
		</div>
	</div>
</div>
